<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>

  <div class="py-5 heavy-rain-gradient text-dark min-vh-100">
    <div class="container pt-5">
      <div class="row">
        <!-- Current Players -->
        <div class="container content-justify">
          <h1>Deez Community Rust Server</h1>
          <p>The Deez Community Rust Server is where the good times stay rolling.</p>
          <h2>Connect to our Rust Server at <span class="badge badge-dark link-light"><a href="steam://connect/92.118.19.87:28015" class="text-light"><i class="fa fa-play-circle"></i> 92.118.19.87:28015</a></span></h2>

        </div>
      </div>
    </div>
  </div>

</main>


<% include ../partials/footer %>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
